:root {
  --colors-bg-subtle: #ffffff;
  --colors-bg-bold: #edf2f7;
  --colors-bg-primary-subtle: #38a169;
  --colors-bg-primary-bold: #2f855a;
  --colors-bg-secondary-subtle: #000000;
  --colors-bg-secondary-bold: #2d3748;
  --colors-bg-tertiary-bold: #c6f6d5;
  --colors-bg-tertiary-subtle: #f0fff4;
  --colors-bg-code-block: hsl(230, 1%, 98%);
  --colors-bg-code-inline: rgba(0, 0, 0, 0.04);
  --colors-bg-header: rgba(255, 255, 255, 0.92);
  --colors-bg-badge: #feebc8;
  --colors-text-bold: #171923;
  --colors-text-subtle: #4a5568;
  --colors-text-primary-bold: #38a169;
  --colors-text-inverse: #ffffff;
  --colors-text-primary-subtle: #2f855a;
  --colors-text-badge: #c05621;
  --colors-border-subtle: #edf2f7;
  --colors-border-bold: #e2e8f0;
  --colors-border-primary-subtle: #38a169;
  --colors-border-primary-bold: #2f855a;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-scope="switch"][data-part="root"] {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 0;
  width: fit-content;
  --switch-track-diff: calc(
    var(--switch-track-width) - var(--switch-track-height)
  );
  --switch-thumb-x: var(--switch-track-diff);
  --switch-track-width: 2.7rem;
  --switch-track-height: 1.5rem;
}

[data-scope="switch"][data-part="control"] {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: flex-start;
  box-sizing: content-box;
  border-radius: 9999px;
  padding: 0.125rem;
  width: var(--switch-track-width);
  height: var(--switch-track-height);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  background: #cbd5e0;
  -webkit-box-pack: start;
}

[data-scope="switch"][data-part="control"][data-state="checked"] {
  background: #2ab26b;
}

[data-scope="switch"][data-part="control"][data-focus] {
  outline: 2px solid #2ab26b;
  outline-offset: 2px;
}

[data-scope="switch"][data-part="control"][data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

[data-scope="switch"][data-part="thumb"] {
  background: #ffffff;
  transition-property: transform;
  transition-duration: 200ms;
  border-radius: inherit;
  width: var(--switch-track-height);
  height: var(--switch-track-height);
  position: relative;
}

[data-scope="switch"][data-part="thumb"]::before {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  --thumb-size: calc(var(--switch-track-height) + 0.7rem);
  height: var(--thumb-size);
  width: var(--thumb-size);
  background: transparent;
  content: "";
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
}

[data-scope="switch"][data-part="thumb"][data-state="checked"] {
  transform: translateX(var(--switch-thumb-x));
}

[data-scope="switch"][data-part="label"] {
  user-select: none;
  margin-inline-start: 0.5rem;
}
